Automation
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "0de11a30-ab93-4009-9be5-745fd7755fbd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://aibusiness.com/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "d131db6b-c894-4ed5-b8f4-52eb7b33bcaa",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#social",
          "mode": "name"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1024,
        0
      ],
      "id": "9389b0cb-b960-4109-b9dc-976d18e8d0f3",
      "name": "Send a message",
      "webhookId": "9dfed31c-edac-4cb9-80f0-6165e1656f71",
      "credentials": {
        "slackApi": {
          "id": "agkDfWC895uIDxBG",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert social media strategist and ghostwriter specializing in the Artificial Intelligence and Business Automation niche. \n\nYour goal is to analyze the following input data and generate high-engaging, platform-specific content ideas for tonight's drop.\n\n[INPUT DATA FROM RSS]: \n{{ $json.title }} - {{ $json.contentSnippet }}\n\nPlease provide 4 distinct content buckets based on this news or general intelligent automation concepts:\n\n1. 🚀 AUTOMATION NEWS / BREAKDOWN (Platform: LinkedIn)\n- Goal: Authority & Education.\n- Format: Break down the input news into a \"Why this matters to businesses\" post. \n- Include: A strong hook, 3 bulleted key takeaways, and a \"What's your take?\" conclusion.\n\n2. 🔥 THE HOT TAKE / CONTRARIAN THOUGHT (Platform: X / Twitter)\n- Goal: Virality & Impressions.\n- Format: Write a punchy, short-form post (under 280 characters) or a 3-part mini-thread hook challenging standard industry thinking about this automation topic. Keep it sharp and bold.\n\n3. 🙋‍♂️ THE QUESTION / ENGAGEMENT BAIT (Platform: LinkedIn or X)\n- Goal: Comments & Interaction.\n- Format: Pose a highly relatable, conversational question to the audience about their automation struggles or opinions on this news item (e.g., \"Are you team build-your-own or team out-of-the-box?\"). Give them 2-3 specific options to answer with in the comments.\n\n4. 📸 VISUAL / CAROUSEL CONCEPT (Platform: Instagram or LinkedIn Carousel)\n- Goal: Saves & Shares.\n- Format: Map out a 5-slide concept.\n  - Slide 1: Hook Title (e.g., \"The Ugly Truth About [Topic]\")\n  - Slide 2: The Problem\n  - Slide 3: The Automated Solution\n  - Slide 4: Step-by-Step Implementation\n  - Slide 5: CTA (Follow/Save)\n  - Provide a short, engaging caption starter.\n\nKeep the tone professional yet witty, avoiding fluff words like \"delve,\" \"testament,\" or \"moreover.\" Make them plug-and-play.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        672,
        0
      ],
      "id": "468cef46-84f3-49cc-a7e8-0c2eee5db023",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        752,
        224
      ],
      "id": "4b6c4331-d417-4a3b-b26e-053b552f3ee1",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "s5d5JWR8ipxfDs4i",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "e7e61d1d-d839-4a0d-9c68-8acb2b6424cb",
      "name": "Limit"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a725ced4ca6cab2f190aaf50935604cf2effa6a172413cc9b4d398406b68e195"
  }
}
